fastapi
uvicorn
python-multipart
google-genai
pandas
yfinance
requests
duckduckgo-search
wikipedia
googlesearch-python
beautifulsoup4
trafilatura
Pillow
PyPDF2
langchain
langchain-community
chromadb
pdfplumber
sentence-transformers
python-dotenv
